* {
    margin: auto;
}

body {
    overflow: hidden;
}

.container {
    overflow: hidden;
    justify-content: center;
    margin-top: 20px;
    width: 400px;
    height: 600px;
    box-shadow: 3px 3px 10px 0 #505050;
    background-color: #fcfdfd;
}

.slide_content {
    display: flex;
    padding-top: 100px;
    margin-left: 600px;
    justify-content: space-around;
    transition: all 1s ease;
}

.img {
    display: flex;
}

.text_decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-top: 50px;
    height: 20px;
    border-radius: 5px;
    background-color: #DCDCDCFF;
    transition: all 1s ease;
}

.text_decoration:hover{
    background-color: blue;
    color: white;

}

.short-line {
    width: 100px;
}

.long-line {
    width: 200px;
}

.footer_cont_bar {
    display: flex;
    margin-top: 80px;
    height: 1px;
    width: 400px;
    background-color: #c5c3c3;
}

.footer_cont_decoration {
    display: flex;
    margin-top: -15px;
    height: 10px;
    width: 200px;
    border-radius: 2px;
    background-color: #afacac;
}

.buttons-container {
    display: flex;
    cursor: pointer;
    width: 350px;
    height: 100px;
    margin-top: -10px;
}

.btn {
    transition: all 600ms ease;
    transform: none;
    filter: contrast(10%);
}

.active {
    transition: all 600ms ease;
    filter: contrast(200%);
    transform: scale(1.20);
}
